* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img:nth-of-type(1) {
    display: none;
}

body {
    background-image: none;
    opacity: 1;
    max-width: 1200px;
    min-height: 1583px;
    font-size: 2rem;
    color: blue;
}

.container > * {
    border: 2px dashed blue;
}

.container {
    display: grid;
    grid-template-rows:
        minmax(47px, auto)
        minmax(479px, auto)
        minmax(104px, auto)
        minmax(665px, auto)
        minmax(132px, auto);
    grid-template-columns: 200px 651px 427px;
    grid-template-areas:
    "one   two    two"
    "six   two    two"
    "six   three  three"
    "six   four   seven"
    "six   five   five";
}

.box1 {
    grid-area: one;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    color: #999;
}

.box2 { grid-area: two; }
.box3 { grid-area: three; }
.box4 { grid-area: four; }
.box5 { grid-area: five; }
.box6 { grid-area: six; }
.box7 { grid-area: seven; }

.box6 ul.top-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #2c3e50;
}

.box6 li {
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    padding: 15px 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #46627f;
}

.box6 li:last-child {
    border-bottom: none;
}

@media screen and (max-width: 500px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "one"
            "six"
            "two"
            "three"
            "four"
            "seven"
            "five";
    }
}