* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url(https://cdn.imgchest.com/files/b49zcb8j3yw.png);
    background-repeat: no-repeat;
    max-width: 1200px;
    min-height: 1583px;
    font-size: 2rem;
    opacity: .5;
    color: blue;
}
.container > * {
    border: 2px dashed blue;
}
.container {
    display: grid;
    grid-template-rows: 47px 479px 104px 665px 132px;
    grid-template-columns: 100px 751px 427px;
    grid-template-areas:
    "one   six    six"
    "two   two  two"
    "three  three   three"
    "four   four  seven"
    "five  five   five";
}
.box1 {
    grid-area: one;
    display: flex;
    align-items: center;
    padding-left: 15px;
    font-family: 'Times New Roman', serif;
    font-size: 18px;
    color: #999;
}
.box2 {
    grid-area: two;
}
.box3 {
    grid-area: three;
}
.box4 {
    grid-area: four;
}
.box5 {
    grid-area: five;
}
.box6 {
    grid-area: six;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 28px;
}
.box6 ul.top-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
.box6 li {
    font-family: 'Times New Roman', serif;
    font-size: 16px;
    color: #888;
    cursor: pointer;
    white-space: nowrap;
}
.box6 li:last-child {
    margin-left: 69px;
}
.box7 {
    grid-area: seven;
}